//
   Created by jaric on 15.05.2015.

doctype html
html(ng-app="jPGApp")
    head
        title= "Prediction Game"
        link(rel='stylesheet' href='/stylesheets/style.css')
        meta(name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")

        script(src="/javascripts/angular.js")
        //-script(src="http://yastatic.net/angularjs/1.3.8/angular.min.js")

        script(src="/javascripts/jPGApp.js")
        script(src="/javascripts/jPGControllers.js")

        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        //-link(rel='stylesheet' href='http://yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css')

        //-link(rel='stylesheet' href='/bootstrap/css/bootstrap-theme.css')
        script(src='/javascripts/ui-bootstrap-tpls-0.12.0.js')

    body(ng-controller="jPredictionGameController")
        div(ng-hide="true")
            div(class="container text-center")
                h1= title

        div(class="container-fluid")

            section(class="tab" ng-controller="TabController as tab")
                ul(class="nav nav-tabs")
                    li(ng-class="{active: tab.isSet(0) }")
                        a(href ng-click="tab.setTab(0)") Prediction Game
                    li(ng-class="{active: tab.isSet(1) }")
                        a(href ng-click="tab.setTab(1)") TODOs
                    li(ng-class="{active: tab.isSet(2) }")
                        a(href ng-click="tab.setTab(2)") Info
                    div(ng-hide="true")
                        li(ng-class="{active: tab.isSet(3) }")
                            a(href ng-click="tab.setTab(3)") Double elimination bracket

                //- PREDICTION GAME PREDICTION GAME PREDICTION GAME PREDICTION GAME PREDICTION GAME PREDICTION GAME
                div(ng-show="tab.isSet(0)" class="text-center")
                    div(class="row")
                        p
                        div(class="col-xs-3 col-lg-5")
                        //-div(class="btn-group-vertical col-xs-2")
                        div(class="col-xs-6 col-lg-2")
                            a(class="btn btn-default btn-block btn-lg" ng-click="(!loading) && connect()") {{restartString}}start game{{loadingDots}}
                            div(ng-hide="true")
                                a(class="btn btn-default btn-block btn-lg" ng-click="disconnect()") disconnect
                                a(class="btn btn-default btn-block btn-lg" ng-click="findGame()") findGame
                                a(class="btn btn-default btn-block btn-lg" ng-click="stopFindGame()") stopFindGame
                        p

                    div(ng-hide="game.rounds[game.myPlayerIndex].length == 2")
                        div(class="row")
                            div(class="col-xs-3 col-lg-5")
                            div(class="col-xs-6 col-lg-2")
                                div
                                    a(ng-show="game.rounds[game.myPlayerIndex].length == 0" class="btn btn-block btn-lg" ng-class="send6ButtonClass" ng-click="verify(6) && send()") send 6
                                div
                                    a(ng-show="game.rounds[game.myPlayerIndex].length == 1" class="btn btn-block btn-lg" ng-class="send4ButtonClass" ng-click="verify(4) && send()") send 4
                        div(class="row text-center")
                            h4(ng-show="game.rounds[game.myPlayerIndex].length == 0") choose 6 pictures you like more
                            h4(ng-show="game.rounds[game.myPlayerIndex].length == 1") choose 4 pictures you think was chosen by other player

                        p

                        section(ng-hide="game.images == null" class="tab" ng-controller="GalleryController as gallery")
                            div(ng-hide="true")
                                ul(class="nav nav-tabs")
                                    li(ng-class="{active: gallery.isSet(0) }")
                                        a(href ng-click="gallery.setTab(0)") Huge
                                    li(ng-class="{active: gallery.isSet(1) }")
                                        a(href ng-click="gallery.setTab(1)") Small
                                    li(ng-class="{active: gallery.isSet(2) }")
                                        a(href ng-click="gallery.setTab(2)") Fabulous

                            div(class="row" ng-show="gallery.isSet(0)")
                                div(class="col-xs-6 col-lg-4" ng-repeat="elem in game.images track by $index")
                                    div(class="row")
                                        label(class="labelSpecial" for="cb{{$index}}")
                                            img(src="/images/icons/1431883984_checkmark-24-64-green.png" style="position:absolute; top: 0px; left: 0px;" ng-show="checkboxes[$index]")
                                            img(class="img-responsive" ng-src="{{elem}}")
                                        input(type="checkbox" id="cb{{$index}}" class="hiddenCheckbox" ng-model="checkboxes[$index]")

                            div(class="row" ng-show="gallery.isSet(1)")
                                div(class="col-xs-1")
                                div(class="col-xs-1" ng-repeat="elem in game.images track by $index")
                                    div(class="row")
                                        label(class="labelSpecial" for="cb{{$index}}")
                                            img(src="/images/icons/1431883984_checkmark-24-16-green.png" style="position:absolute; top: 0px; left: 0px;" ng-show="checkboxes[$index]")
                                            img(class="img-responsive" ng-src="{{elem}}")
                                        input(type="checkbox" id="cb{{$index}}" class="hiddenCheckbox" ng-model="checkboxes[$index]")

                            div(ng-show="gallery.isSet(2)")
                                div(ng-show="game.rounds[game.myPlayerIndex].length == 0" class="row" ng-repeat="elementsGroup in imagesForView")
                                    div(class="col-xs-3" ng-repeat="elem in elementsGroup")
                                        div(class="row")
                                            label(class="labelSpecial" for="cb{{elem.index}}")
                                                img(src="/images/icons/1431883984_checkmark-24-64-green.png" style="position:absolute; top: 0px; left: 0px;" ng-show="checkboxes[elem.index]")
                                                img(class="img-responsive" ng-src="{{elem.name}}")
                                                //-| {{elem.index}}
                                                //-| {{$parent.$index}}, {{$index}}
                                                //-| : {{$parent.$index == 0 ? $index : $parent.$index == 1 ? 4 + $index : $parent.$index == 2 ? 7 + $index : 9}}
                                        div(class="row")
                                            input(type="checkbox" id="cb{{elem.index}}" class="hiddenCheckbox" ng-model="checkboxes[elem.index]")

                                div(ng-show="game.rounds[game.myPlayerIndex].length == 1" class="row" ng-repeat="elementsGroup in imagesForView")
                                    div(class="col-xs-4" ng-repeat="elem in elementsGroup")
                                        div(class="row")
                                            label(class="labelSpecial" for="cb{{elem.index}}")
                                                img(src="/images/icons/1431883984_checkmark-24-64-green.png" style="position:absolute; top: 0px; left: 0px;" ng-show="checkboxes[elem.index]")
                                                img(class="img-responsive" ng-src="{{elem.name}}")
                                                //-| {{elem.index}}
                                        div(class="row")
                                            input(type="checkbox" id="cb{{elem.index}}" class="hiddenCheckbox" ng-model="checkboxes[elem.index]")

                    div(ng-show="game.rounds[game.myPlayerIndex].length == 2")
                        results-view

                //- TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO
                div(ng-show="tab.isSet(1)" ng-controller="TODOController as TODOCtrl")

                    div(class="container")
                        form(name="todoForm" ng-submit="addTODO()")

                            <!--  Live Preview -->
                            blockquote(ng-hide="true")
                                h3(class="glyphicon" ng-class="newTODO.glyphicon")
                                br
                                strong Add to {{newTODO.concentration}}
                                br
                                span {{newTODO.text ? "" : "&nbsp;"}}{{newTODO.text}}
                                    span(class="error" ng-show="todoForm.text.$error.maxlength") My apologize, but it's too much
                                cite(class="clearfix") —{{newTODO.author}}
                                    span(class="error" ng-show="todoForm.author.$error.maxlength") My apologize, but it's too much

                            //- Review Form Review Form Review Form Review Form Review Form Review Form Review Form
                            h4 Submit a TODO
                            fieldset(class="form-group")
                                //- ng-options="option.name for option in options"
                                select(ng-model="newTODO.glyphicon" class="form-control" ng-options="glyphicon for glyphicon in ['glyphicon-ok', 'glyphicon-remove']" title="icon")
                                    option(value) icon
                            fieldset(class="form-group")
                                select(ng-model="newTODO.glyphiconColor" class="form-control" ng-options="glyphiconColor for glyphiconColor in ['text-muted', 'text-primary', 'text-warning', 'text-danger', 'text-success', 'text-info']" title="color")
                                    option(value) color
                            fieldset(class="form-group")
                                select(ng-model="newTODO.concentration" class="form-control" ng-options="concentration for concentration in ['back-end', 'front-end']" title="concentration")
                                    option(value) field of development
                            fieldset(class="form-group")
                                textarea(ng-model="newTODO.text" name="text" class="form-control" placeholder="Write a short TODO..." title="todo text" ng-minlength="1" ng-maxlength="300")
                            fieldset(class="form-group")
                                input(ng-model="newTODO.author" name="author" type="text" class="form-control" placeholder="What is your name?" title="Name" ng-minlength="1" ng-maxlength="100")
                            fieldset(class="form-group")
                                input(type="submit" class="btn pull-right" ng-class="{'btn-default': !todoForm.$valid, 'btn-primary': todoForm.$valid}" value="Submit TODO" ng-click="todoForm.$valid && TODOCtrl.addTODO()")

                    div(class="row")
                        div(class="col-xs-12")
                            h3 TODOs:
                    //- BACK END BACK END BACK END BACK END BACK END BACK END BACK END BACK END BACK END BACK END
                    div(class="row")
                        div(class="col-xs-12 col-sm-1")
                            h3 back-end:
                        div(class="col-xs-11 col-sm-11")

                            //- Live Preview Live Preview Live Preview Live Preview Live Preview Live Preview
                            div(class="row" ng-show="(newTODO.text != '' || newTODO.author != '') && newTODO.concentration == 'back-end'")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon" ng-class="[newTODO.glyphicon, newTODO.glyphiconColor]")
                                div(class="col-xs-10 col-sm-11")
                                    h3 {{newTODO.text ? "" : "&nbsp;"}}{{newTODO.text}}
                                        span(class="error" ng-show="todoForm.text.$error.maxlength") My apologize, but it's too much
                                    span {{newTODO.author}}
                                        span(class="error" ng-show="todoForm.author.$error.maxlength") My apologize, but it's too much

                            //- Users back-end TODOs Users back-end TODOs Users back-end TODOs Users back-end TODOs
                            div(class="row" ng-repeat="backEndTODO in TODOs | orderBy : 'createdOn':true")
                                div(ng-show="backEndTODO.concentration == 'back-end'")
                                    div(class="col-xs-2 col-sm-1 text-center")
                                        h3(class="glyphicon" ng-class="[backEndTODO.glyphicon, backEndTODO.glyphiconColor]")
                                    div(class="col-xs-10 col-sm-11")
                                        h3 {{backEndTODO.text}}
                                        span {{backEndTODO.author}}
                                        br
                                        span(class="text-muted") —{{backEndTODO.createdOn | date:'dd.MM.yyyy, HH:mm:ss'}}

                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-ok")
                                div(class="col-xs-10 col-sm-11")
                                    h3 It is unplayable at all
                                    span formally, it could be played now
                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-remove text-danger")
                                div(class="col-xs-10 col-sm-11")
                                    h3 Solve all problems with start/restart/end game
                                    span turn off auto requests and solve it
                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-remove text-danger")
                                div(class="col-xs-10 col-sm-11")
                                    h3 Make accounts for companies with predefined image list
                                    span Who knows may be it could be useful?
                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-ok")
                                div(class="col-xs-10 col-sm-11")
                                    h3 Every action comes with /api/images request
                                    span solved by removing routing opportunity. It looks like bad idea, but it works. =|
                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-ok")
                                div(class="col-xs-10 col-sm-11")
                                    h3 /stopFindGame leads to error
                                    span somehow processing req (req.connection.remoteAddress) in app.js leaded to error. =|
                    //- FRONT END FRONT END FRONT END FRONT END FRONT END FRONT END FRONT END FRONT END FRONT END
                    div(class="row")
                        div(class="col-xs-12 col-sm-1")
                            h3 front-end:
                        div(class="col-xs-11 col-sm-11")

                            //- Live Preview Live Preview Live Preview Live Preview Live Preview Live Preview
                            div(class="row" ng-show="(newTODO.text != '' || newTODO.author != '') && newTODO.concentration == 'front-end'")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon" ng-class="[newTODO.glyphicon, newTODO.glyphiconColor]")
                                div(class="col-xs-10 col-sm-11")
                                    h3 {{newTODO.text ? "" : "&nbsp;"}}{{newTODO.text}}
                                        span(class="error" ng-show="todoForm.text.$error.maxlength") My apologize, but it's too much
                                    span {{newTODO.author}}
                                        span(class="error" ng-show="todoForm.author.$error.maxlength") My apologize, but it's too much

                            //- Users back-end TODOs Users back-end TODOs Users back-end TODOs Users back-end TODOs
                            div(class="row" ng-repeat="frontEndTODO in TODOs | orderBy : 'createdOn':true")
                                div(ng-show="frontEndTODO.concentration == 'front-end'")
                                    div(class="col-xs-2 col-sm-1 text-center")
                                        h3(class="glyphicon" ng-class="[frontEndTODO.glyphicon, frontEndTODO.glyphiconColor]")
                                    div(class="col-xs-10 col-sm-11")
                                        h3 {{frontEndTODO.text}}
                                        span {{frontEndTODO.author}}
                                        br
                                        span(class="text-muted") —{{frontEndTODO.createdOn | date:'dd.MM.yyyy, HH:mm:ss'}}

                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-remove text-danger")
                                div(class="col-xs-10 col-sm-11")
                                    h3 Animation after choosing first set of images
                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-remove text-danger")
                                div(class="col-xs-10 col-sm-11")
                                    h3 Make tour gide
                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-remove text-danger")
                                div(class="col-xs-10 col-sm-11")
                                    h3 Fill in information block
                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-remove text-danger")
                                div(class="col-xs-10 col-sm-11")
                                    h3 Every button remains focus, so it looks like it is pressed
                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-ok")
                                div(class="col-xs-10 col-sm-11")
                                    h3 Indices are incorrect (row dependent)!
                            div(class="row")
                                div(class="col-xs-2 col-sm-1 text-center")
                                    h3(class="glyphicon glyphicon-ok")
                                div(class="col-xs-10 col-sm-11")
                                    h3 Highlight checked element

                //- INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO
                div(ng-show="tab.isSet(2)")
                    h3 Information
                    h4 Every game lasts 1 minute
                    h4 In first round you should pick exactly 6 images you like more
                    h4 In second round you should predict which images of your choice were picked by other player. There are at least 2 images of his.
                    h4 As a result, you'll get prediction percent of yours
                    p
                    h3 Contacts:
                    h4 mm1000@list.ru

                //- DOUBLE ELIMINATION BRACKET DOUBLE ELIMINATION BRACKET DOUBLE ELIMINATION BRACKET
                div(ng-show="tab.isSet(3)")
                    h6(class="text-muted") UPPER BRACKET
                    div(class="row text-center")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Vici Gaming
                            div(class="btn btn-default") Rave
                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Vici Gaming
                            div(class="btn btn-default") Cloud 9
                    div(class="row text-center")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Evil Geniuses
                            div(class="btn btn-default") Cloud 9

                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Vici Gaming
                            div(class="btn btn-default") Evil Geniuses

                    h6(class="text-muted") LOWER BRACKET
                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Cloud 9
                            div(class="btn btn-default") Evil Geniuses
                    div(class="row text-center")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Rave
                            div(class="btn btn-default") Evil Geniuses

                    hr

                    h6(class="text-muted") UPPER BRACKET
                    div(class="row text-center")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Vici Gaming
                            div(class="btn btn-default") Rave
                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Vici Gaming
                            div(class="btn btn-default") Cloud 9
                    div(class="row text-center")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Evil Geniuses
                            div(class="btn btn-default") Cloud 9

                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Vici Gaming
                            div(class="btn btn-default") Evil Geniuses

                    h6(class="text-muted") LOWER BRACKET
                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Cloud 9
                            div(class="btn btn-default") Evil Geniuses
                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Rave
                            div(class="btn btn-default") Evil Geniuses


                    hr

                    h6(class="text-muted") UPPER BRACKET
                    div(class="row text-center")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Vici Gaming
                            div(class="btn btn-default") Rave
                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Vici Gaming
                            div(class="btn btn-default") Cloud 9
                    div(class="row text-center")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Evil Geniuses
                            div(class="btn btn-default") Cloud 9

                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2")
                        div(class="col-xs-2")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Vici Gaming
                            div(class="btn btn-default") Evil Geniuses

                    h6(class="text-muted") LOWER BRACKET
                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Cloud 9
                            div(class="btn btn-default") Evil Geniuses
                    div(class="row text-center")
                        div(class="col-xs-2")
                        div(class="col-xs-2 btn-group-vertical")
                            div(class="btn btn-default") Rave
                            div(class="btn btn-default") Evil Geniuses


                    hr
                    img(src="/mTdbhFlILPc.jpg" width="50%")